{% extends 'base.html' %}
{% block title %}Thank you{% endblock %}
{% block content %}
<h1>Thank you for submitting the survey!!</h1>
<div class="container">
    <div class="m-5">
        <h1>Here are your answers</h1>
        {% for value in complete_answers.values() %}
        <h2 class="text-dark">{{value['question']}}</h2>
        <h2 class="text-success">{{value['response']}}</h2>
        <h2 class="text-info font-italic">{{value['comment']}}</h2>
        {% endfor %}
    </div>
</div>


{% endblock %}